.container {
    background-color: var(--white);
    border-radius: 22px;
    padding: 16px;
    position: fixed;
    z-index: 10;
    min-height: 90vh;
    min-width: 95vw;
    left: calc(50% - 47.5vw);
    top: calc(50% - 45vh);
    align-items: center;

    @media screen and (max-width: 768px) {
        min-height: 100vh;
        min-width: 100vw;
        left: 0;
        top: 0;
    }

    .up {
        flex-direction: row;
        align-items: center;
        gap: calc(50% - 250px);
        min-width: 90%;

        @media screen and (max-width: 768px) {
            h1 {
                font-size: 24px;
                min-width: 300px;
                text-align: center;
            }
        }
    }

    .bottom {
        flex: 1 0;
        justify-content: center;
        min-width: 90%;

    }


    .formContainer {


        flex-direction: column;
        justify-content: center;
        display: flex;
        gap: 16px;

        .responseContainer {
            flex-direction: row;
            gap: 8px;

            @media screen and (max-width: 768px) {
                flex-direction: column;
            }

            .radioContainer {
                flex-direction: row;
                align-items: center;
                gap: 8px;

                input[type=radio]:checked {
                    background-color: red;

                }

                // #response1 {
                //     padding: 16px;
                // }
            }
        }
    }
}