.inputBox {
    position: relative;
    caret-color: auto;
    width: 100%;

    input {
        border: 1px solid var(--darkColor);
        font-family: "Poppins", sans-serif;
        background: transparent;
        color: var(--darkColor);
        border-radius: 5px;
        font-weight: 300;
        font-size: 1em;
        outline: none;
        padding: 10px;
        width: 100%;

    }

    span {
        text-transform: uppercase;
        color: var(--darkColor);
        pointer-events: none;
        position: absolute;
        transition: 0.5s;
        font-size: 1em;
        padding: 10px;
        left: 0;

    }

    input:valid~span,
    input:focus~span {
        transform: translateX(10px) translateY(-7px);
        border-right: 1px solid var(--orange);
        border-left: 1px solid var(--orange);
        background: var(--orange);
        letter-spacing: 0.2em;
        color: var(--white);
        font-size: 0.65em;
        padding: 2px 10px;
        font-weight: 600;

    }

    input:focus,
    input:valid {
        border: 1px solid var(--orange);

    }

    :nth-child(2) input:valid~span,
    :nth-child(2) input:focus~span {
        background: var(--orange);
        color: var(--orange);
        border-radius: 2px;
    }

}

.wrong {
    // flex-direction: row;
    position: relative;
    width: 100%;


    input {
        font-family: "Poppins", sans-serif;
        border: 1px solid var(--darkColor);
        background: transparent;
        color: var(--darkColor);
        border-radius: 5px;
        font-weight: 300;
        font-size: 1em;
        padding: 10px;
        outline: none;
        width: 100%;

    }

    span {
        text-transform: uppercase;
        color: var(--darkColor);
        pointer-events: none;
        position: absolute;
        transition: 0.5s;
        font-size: 1em;
        padding: 10px;
        left: 0;

    }

    input:valid~span,
    input:focus~span {
        color: var(--white);
        transform: translateX(10px) translateY(-7px);
        border-right: 1px solid var(--red);
        border-right: 1px solid var(--red);
        border-left: 1px solid var(--red);
        background: var(--red);
        letter-spacing: 0.2em;
        font-size: 0.65em;
        padding: 2px 10px;
        font-weight: 600;

    }

    input:focus,
    input:valid {
        border: 1px solid var(--red);

    }

    :nth-child(2) input:valid~span,
    :nth-child(2) input:focus~span {
        background: var(--red);
        border-radius: 2px;
        color: var(--red);
    }

}

.password_icon {
    caret-color: transparent;
    position: absolute;
    max-height: 16px;
    min-height: 16px;
    max-width: 16px;
    min-width: 16px;
    top: 0.6em;
    right: 16px;


    .on {
        display: none;

    }
}

@media screen and (max-width: 520px) {
    .inputBox {
        width: 300px;

    }
}