.backBtn {
    background-color: transparent;
    transition: all 0.2s linear;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    font-size: 1.6rem;
    cursor: pointer;
    display: flex;
    // width: 100px;
    border: none;

    &>svg {
        transition: all 0.4s ease-in;
        margin-right: 5px;
        margin-left: 5px;
        font-size: 20px;
    }

    &:hover>svg {
        transform: translateX(-5px);
        font-size: 1.2em;
    }

    &:hover {
        transform: translateY(-2px);
    }

    @media screen and (max-width: 768px) {
        span {
            display: none;
        }
    }
}